<!DOCTYPE html>
<html>
<head>
  <title>Brickbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="navbar-inner">
	<div class="container">
		<a href="#" class="navbar-brand">BrickBook</a>
		<ul class="nav navbar-nav">
		<li><%= link_to "Status", statuses_path %></li>
		
		</ul>
		<% if user_signed_in? %>
		<ul class="nav navbar-nav pull-right" aria-labelledby="dropdownMenu1">
			<li><%= link_to current_user.nombre_completo %></li>
			<li><%= link_to "Editar datos", edit_user_registration_path %></li>
			<li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></li>
			</ul>
			<% else %>
			<ul class="nav navbar-nav pull-right">
			<li><%= link_to "Registrarse", new_user_registration_path %></li>
			<li><%= link_to "Iniciar sesion", new_user_session_path %></li>
			</ul>
			<% end %>
		
	</div>
</div>
 
</div>

<div class="container">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</div>

</body>
</html>
